.section__container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 200px;
  .shop {
    width: 350px;
    height: 204px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #f1f1f1;
    padding: 0 108px 30px 108px;
    h6 {
      color: #000;
      text-align: center;
      font-family: Manrope;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.286px;
      text-transform: uppercase;
      margin-bottom: 6px;
    }
  }
  .shop1 {
    img {
      margin-top: -78px;
      margin-bottom: 36px;
    }
  }
  .shop2 {
    img {
      margin-top: -80px;
      margin-bottom: 40px;
    }
  }
  .shop3 {
    img {
      margin-top: -60px;
      margin-bottom: 40px;
    }
  }
}
.section5__contaner {
  display: flex;
  align-items: center;
  gap: 170px;
  .section5__tital {
    width: 400px;
    h2 {
      color: #000;
      font-family: Manrope;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 1.429px;
      text-transform: uppercase;
      margin-bottom: 32px;
      span {
        color: #d87d4a;
      }
    }
    p {
      color: #000;
      font-family: Manrope;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 166.667% */
    }
  }
  .section5__img img {
    border-radius: 15px;
  }
}

.hero-Head-1__h21 {
  width: 10px;
}
